body {
  background-image: url("https://th.bing.com/th/id/R.ee9c713d796706369f690cbbfd9705f8?rik=8WxuK901BMrnKg&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2fe%2f6%2fa%2f284067.jpg&ehk=0DViHZ2RP57SV%2b79lNfJIqhac1z3UmGibPzsVlJ9Y7w%3d&risl=&pid=ImgRaw&r=0");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: rgba(0, 0, 0, 0.815);
  font-family: cambria;
}

.login_div1 {
  background-color: rgba(0, 0, 0, 0.144);
  color: whitesmoke;
  padding: 50px;
  float: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 200px;
  margin-top: 40;
}

.login_div2 {
  background-color: rgba(0, 0, 0, 0.144);
  color: whitesmoke;
  padding: 50px;
  float: right;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-right: 200px;
}

.btn {
  background-color: #a9dddd;
  color: #000000a9;
  font-size: 20;
  margin-top: 100px;
}
